<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="dark">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white flex items-center justify-center h-screen" style="background-color: #191e24;">
    <div class="text-center">
        <h1 class="text-6xl font-bold mb-4">Oops! Something went wrong.</h1>
        <p class="mb-8">We either can't seem to find the page you're looking for or an error occured.</p>
        <a href="/" class="px-6 py-3 bg-blue-500 text-white rounded-md shadow hover:bg-blue-600">Go Home</a>
    </div>
</body>
</html>
